// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "config/colors";

// Font face Benzin

@font-face {
  font-family: "Benzin";
  src: url("app/assets/fonts/benzinbold.ttf") format('ttf');
  src: url("app/assets/fonts/benzinbold.eot") format('eot');
  src: url("app/assets/fonts/benzinbold.woff") format('woff');
  src: url("app/assets/fonts/benzinbold.woff2") format('woff2');

  src: url("app/assets/fonts/benzinextrabold.ttf") format('ttf');
  src: url("app/assets/fonts/benzinextrabold.eot") format('eot');
  src: url("app/assets/fonts/benzinextrabold.woff") format('woff');
  src: url("app/assets/fonts/benzinextrabold.woff2") format('woff2');

  src: url("app/assets/fonts/benzinmedium.ttf") format('ttf');
  src: url("app/assets/fonts/benzinmedium.eot") format('eot');
  src: url("app/assets/fonts/benzinmedium.woff") format('woff');
  src: url("app/assets/fonts/benzinmedium.woff2") format('woff2');

  src: url("app/assets/fonts/benzinregular.ttf") format('ttf');
  src: url("app/assets/fonts/benzinregular.eot") format('eot');
  src: url("app/assets/fonts/benzinregular.woff") format('woff');
  src: url("app/assets/fonts/benzinregular.woff2") format('woff2');

  src: url("app/assets/fonts/benzinsemibold.ttf") format('ttf');
  src: url("app/assets/fonts/benzinsemibold.eo") format('eot');
  src: url("app/assets/fonts/benzinsemibold.woff") format('woff');
  src: url("app/assets/fonts/benzinsemibold.woff2") format('woff2');
}

// Default fonts
$body-font: "Poppins", "sans-serif";
$headers-font: "Benzin", "sans-serif";


// Style guide

.heading-01, h1 {
  font-family: $headers-font;
  font-weight: 800;
  font-size: 6.5rem;
  line-height: 116.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-02, h2 {
  font-family: $headers-font;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sub-heading-02 {
  font-family: $body-font;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 3rem;
  letter-spacing: 0px;
}

.heading-03 {
  font-family: $headers-font;
  font-weight: 800;
  font-size: 3rem;
  line-height:67px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-heading-03 {
  font-family: $body-font;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 40px;
  letter-spacing: 0px;
}

.ui-heading-01 {
  font-family: $body-font;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  letter-spacing: 0px;
}

.ui-heading-02 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: 1px;
}

.ui-regular-01 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.ui-bold-01 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.ui-underline-01 {
  font-family: $body-font;
  font-weight: 400;
  font-size: 16px, 1rem;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-decoration: underline;
}

.ui-regular-02 {
  font-family: $body-font;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 21px;
  letter-spacing: 0.4px;
}

.ui-bold-02 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 21px;
  letter-spacing: 0.4px;
}

.ui-underline-02 {
  font-family: $body-font;
  font-weight: 400;
  font-size: 14px, 0.875rem;
  line-height: 21px;
  letter-spacing: 0.4px;
  text-decoration: underline;
}

.ui-regular-03 {
  font-family: $body-font;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.ui-bold-03 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.ui-underline-03 {
  font-family: $body-font;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-decoration: underline;
}

// Special styles

.caption {
  color: $body-muted;
}
