// SHOW ----------------------------

.works {
  background: $background-gradient;
  overflow-x: hidden;
}
.works-img {
  height: 236px;
  width: 420px;
  background-size: cover;
}
.img-placeholder {
  height: 236px;
  width: 420px;
  background-color: grey;
}
.works h1 {
  font-size: 6.5rem;
  padding: 4rem;
  text-align: center;
  font-family: $headers-font;
  color: $heading-inverse;
}
.work-block {
  margin: 2rem 0rem;
}
.focus {
  background: $background-gradient;
  color: $body-inverse;
  padding: 2rem 0rem;
  margin: 4rem 0rem;
}
@media only screen and (max-width: 600px) {
  .works h1 {
      font-size: 3rem;
      padding: 1rem;
    }
  .img-placeholder {
      width: 327px;
      height: 193px;
  }
  .works-img {
    width: 327px;
    height: 193px;
  }
  .kraze-screen {
    width: 327px;
    margin-bottom: 1.5rem;
  }
}

body {
  overflow-x: hidden;
}

// NEW ----------------------------

.work-new-section {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
