<div class="work-block">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 col-sm-12">
        <div class="img-placeholder"></div>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03">CONTENT 1 TITLE</h2>
        <p class="ui-regular-01">Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptates excepturi ipsum quaerat officiis doloremque temporibus obcaecati vero labore illo voluptatem illum non perferendis corrupti aspernatur expedita, dicta, mollitia odio.</p>
      </div>
    </div>
  </div>
</div>
