<div class="focus">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12 focus-block">
        <h2 class="sub-heading-03">FOCUS TITLE</h2>
        <p class="ui-regular-01">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores ipsa asperiores minus veniam quisquam odio aut repellat voluptatem quam earum, temporibus magni? Magnam, iure eius ipsum ullam blanditiis laudantium.</p>
      </div>
    </div>
  </div>
</div>
