<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 focus-block">
      <h2 class="sub-heading-03"><%= @work.focus_title %></h2>
      <p class="ui-regular-01"><%= @work.focus %></p>
    </div>
  </div>
</div>
