<div class="work-block">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03">TASKS TITLE</h2>
        <p class="ui-regular-01">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repellat adipisci corrupti, eaque porro laboriosam deleniti debitis libero nisi in iure delectus commodi, eveniet nulla aliquid voluptatem ipsum officia officiis.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="img-placeholder"></div>
      </div>
    </div>
  </div>
</div>
