<!-- WORK HEADER -->

<div class="container">
  <div class="work-header d-flex">
    <div class="row align-self-stretch">
      <div class="col-md-7 col-sm-12 offset-md-0">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124778/website/Accor_cover.jpg" alt="Accor cover" class="work-header-image">
      </div>
      <div class="col-md-5 col-sm-12 work-header-content d-flex align-content-end flex-wrap offset-md-0 ps-4" >
        <h1 class="heading-02">Accor</h1>
        <p class="ui-regular-01">As part of the missions proposed by the group, we worked on various optimizations of the booking process as well as on the luxury offer.</p>
      </div>
    </div>
  </div>

  <!-- Tasks -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Tasks</h2>
        <p class="ui-regular-01">Propose improvements related to the display of hotels on the results page during the covid period to improve the user's search and maintain a consistent income.</p>
        <p class="ui-regular-01">Take children into account when displaying the total price and include them in the context of finding a room and an overnight stay.</p>
        <p class="ui-regular-01">Take over the design system of luxury hotel sites in order to create a graphic consistency.</p>
        <p class="ui-regular-01">Display prices adapted to the user context.</p>
        <p class="ui-regular-01">Build & Run</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124778/website/Accor_goals.jpg" alt="Accor goals" class="works-img">
        <p class="ui-regular-03 caption pt-2">Consistency all along the booking funnel</p>
      </div>
    </div>
  </div>

  <!-- INFORMATION ARCHITECTURE -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124780/website/Accor_backlog.jpg" alt="Accor backlog" class="works-img">
        <p class="ui-regular-03 caption pt-2">Working with your squad is priceless</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Feed your Backlog</h2>
        <p class="ui-regular-01">The need could come either from user feedback from monitoring tools or from PO teams. Whether in a build or run context, it was always necessary to propose an improvement that could be integrated perfectly into the brand's ecosystem.</p>
      </div>
    </div>
  </div>
</div>

<!-- FOCUS -->

<div class="focus">
  <div class="container">
    <h2 class="sub-heading-03 text-center my-4">Build & Run</h2>
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <p class="ui-regular-01 mt-3" style="color: white; text-align: center;">Depending on the type of subject, it was necessary to think about the simplest and most coherent way of responding to the problem, whether it be customer or business. This went through discovery  we went through discovery phases together, where the different possible solutions as a team.</p>
      </div>
    </div>
  </div>
</div>

<!-- Design system and library -->

<div class="container">
  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Data driven approach</h2>
        <p class="ui-regular-01">As a designer we are used to working with data analysts to improve the quality of your design. Insight permitted us to know better what the user wanted.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124777/website/Accor_data.jpg" alt="Kraze DS" class="works-img">
        <p class="ui-regular-03 caption pt-2">Talk data to me!</p>
      </div>
    </div>
  </div>
</div>

<!-- Next project -->

<div class="next-work">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-4">
      <h2 class="sub-heading-02 mb-3">Next work</h2>
      <%= link_to "See all the works", works_path , class: "button-primary button-advantage button-next" %>
    </div>

    <a href="<%= kraze_path %>" style="text-decoration: none">
      <div class="next-work-section" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://res.cloudinary.com/peachux/image/upload/v1669718503/website/Kraze_next.png);">
        Kraze
      </div>
    </a>
  </div>
</div>

<%= render "shared/advantages-block" %>
