<!-- WORK HEADER -->

<div class="container">
  <div class="work-header d-flex">
    <div class="row align-self-stretch">
      <div class="col-md-7 col-sm-12 offset-md-0">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124787/website/CP_cover.jpg" alt="LCL cover" class="work-header-image">
      </div>
      <div class="col-md-5 col-sm-12 work-header-content d-flex align-content-end flex-wrap offset-md-0 ps-4" >
        <h1 class="heading-02">Crypto<br>Passion</h1>
        <p class="ui-regular-01">Since 2017 the adoption of Bitcoin and the understanding of its technology, the blockchain, have continued to attract more and more adopters.</p>
      </div>
    </div>
  </div>

<!-- Tasks -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Goals</h2>
        <p class="ui-regular-01">CryptoPassion sells young and savy content and investment training. The target is quite young and completely aware of the uses related to the management of digital assets. We were asked to analyze and study this target in order to design a brand storytelling base for CryptoPassion.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124789/website/CP_goals.jpg" alt="CryptoPassion goals" class="works-img">
        <p class="ui-regular-03 caption pt-2">CryptoPassion is where you can find good advice for your investments.</p>
      </div>
    </div>
  </div>

<!-- Quantitative studies -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124787/website/CP_quantitative.png" alt="CryptoPassion quanti" class="works-img">
        <p class="ui-regular-03 caption pt-2">A google form was launched in the communities on Telegam in order to collect insights.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Quantitative studies</h2>
        <p class="ui-regular-01">To determine the investment behaviors, the investment levels or the psychology of an investor vis-à-vis the market, it was necessary to study this target in depth and to go through a quantitative study modeled in the form of 'a questionnaire. The results allowed us to provide clarity on the degree of knowledge of the target and we determined a typical profile when summarizing the results.</p>
      </div>
    </div>
  </div>
</div>

<!-- Qualitative studies -->

<div class="container">
  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Qualitative studies</h2>
        <p class="ui-regular-01">Once the summary of the results of the quantitative questionnaire was obtained, we then conducted interviews with different types of investors in order to establish a substantiated mapping of the cryptosphere and its players. This mapping allowed us to direct our choices of graphic design for the identity and the branding of the service.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124788/website/CP_qualitative.jpg" alt="CryptoPassion quali" class="works-img">
        <p class="ui-regular-03 caption pt-2">We conducted various interviews with targets of the questionnaire to get ideas of the message that should be transmitted.</p>
      </div>
    </div>
  </div>

<!-- Storytelling -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124787/website/CP_logo.png" alt="Kraze info archi 1" class="works-img">
        <p class="ui-regular-03 caption pt-2">Logo + Text</p>
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124787/website/CP_logo_explanation.png" alt="CryptoPassion logo explanation" class="works-img">
        <p class="ui-regular-03 caption pt-2">Building the storytelling</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Storytelling</h2>
        <p class="ui-regular-01">On the strength of the insights, we were able to tackle the design of the logo and the resulting graphic charter. </p>
      </div>
    </div>
  </div>
</div>

<!-- Next project -->

<div class="next-work">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-4">
      <h2 class="sub-heading-02 mb-3">Next work</h2>
      <%= link_to "See all the works", works_path , class: "button-primary button-advantage button-next" %>
    </div>

    <a href="<%= accor_path %>" style="text-decoration: none">
      <div class="next-work-section" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://res.cloudinary.com/peachux/image/upload/v1669718549/website/Accor_next.png);">
        Accor
      </div>
    </a>
  </div>
</div>

<%= render "shared/advantages-block" %>
