<!-- WORK HEADER -->

<div class="container">
  <div class="work-header d-flex">
    <div class="row align-self-stretch">
      <div class="col-md-7 col-sm-12 offset-md-0">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124803/website/Lcl_cover.jpg" alt="LCL cover" class="work-header-image">
      </div>
      <div class="col-md-5 col-sm-12 work-header-content d-flex align-content-end flex-wrap offset-md-0 ps-4" >
        <h1 class="heading-02">LCL</h1>
        <p class="ui-regular-01">LCL is the French bank for urban areas. In 2022, the switchover of its site was made. It was therefore necessary to bring the course and its features up to date.</p>
      </div>
    </div>
  </div>

<!-- Tasks -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Tasks</h2>
        <p class="ui-regular-01">- Improvement of the real estate credit userflows</p>
        <p class="ui-regular-01">- Goverall navigation and menu: Rework the hierarchy of information to provide a consistent and coherent user experience</p>
        <p class="ui-regular-01">- Adding functionalities to the transfer userflows</p>
        <p class="ui-regular-01">- Build & Run</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124803/website/Lcl_goals.jpg" alt="LCL goals" class="works-img">
        <p class="ui-regular-03 caption pt-2">LCL is the main bank of Parisians</p>
      </div>
    </div>
  </div>

<!-- INFORMATION ARCHITECTURE -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124804/website/Lcl_interview.jpg" alt="LCL credit" class="works-img">
        <p class="ui-regular-03 caption pt-2">Through interviews we were able to to increase significatively my knowledge about real estate.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">How to make your real estate credit more interactive?</h2>
        <p class="ui-regular-01">To better understand the product and its specificities, we organized a divergence workshop on the tree structure of the app. We have rebuilt the information architecture so that it can better suit the target users.</p>
      </div>
    </div>
  </div>
</div>

<!-- Information Architecture -->

<div class="container">
  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Resumption of the tree structure and bias of navigation</h2>
        <p class="ui-regular-01">In the context of the redesign of the banking space to its new version, it was necessary to question the mental models of the user about his perception of the site's tree structure.</p>
        <p class="ui-regular-01">Following this need, we organized workshops with the client in order to better understand the information architecture issues. These results allowed us to validate page structures and navigation principles.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124804/website/Lcl_research.jpg" alt="LCL research" class="works-img">
        <p class="ui-regular-03 caption pt-2">Workshop with the client</p>
      </div>
    </div>
  </div>

<!-- Transfer -->

  <div class="work-block">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-12">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669727091/website/Lcl_transfer.png" alt="LCL transfer rework" class="works-img">
        <p class="ui-regular-03 caption pt-2">Additions to the transfer path functionalities</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2 class="sub-heading-03 mb-3">Prototyping the product</h2>
        <p class="ui-regular-01">During the rework of the old version (version before the switchover), many paths needed to be reviewed and modified to correspond to the current vision.</p>
        <p class="ui-regular-01">These revisions of paths have allowed us to ask ourselves fundamental questions about the use of the various services related to transfers.</p>
        <p class="ui-regular-01">In this process, several processes were adapted, such as adding a beneficiary, modifying transfer limits or countries, and consulting scheduled transfers.</p>
      </div>
    </div>
  </div>
</div>

<!-- Next project -->

<div class="next-work">
  <div class="container">
    <div class="d-md-flex justify-content-between mb-4">
      <h2 class="sub-heading-02 mb-3">Next work</h2>
      <%= link_to "See all the works", works_path , class: "button-primary button-advantage button-next" %>
    </div>

    <a href="<%= cryptopassion_path %>" style="text-decoration: none">
      <div class="next-work-section" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://res.cloudinary.com/peachux/image/upload/v1669718617/website/CP_next.png);">
        CryptoPassion
      </div>
    </a>
  </div>
</div>

<%= render "shared/advantages-block" %>
