<div class="advantages-block">
  <div class="container">
    <div class="row">
      <h2 class="col-md-3 col-sm-12">Get your own Product Designer</h2>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">1.</p>
        <div class="pt-4">
          <h3>Bulding your service</h3>
          <p class="ui-regular-01">Website, app, flyer for your chess club ?It’s our goal to ideate and find some nice responses for your business (and its revenue!)</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">2.</p>
        <div class="pt-4">
          <h3>Research and eXperience as goals</h3>
          <p class="ui-regular-01">Your user is your future consumer, it is mandatory to know how he's "drinking his coffee" to propose the best userflows.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">3.</p>
        <div class="pt-4">
          <h3>Design System, graphic grammary</h3>
          <p class="ui-regular-01">Ok.. Sex is cool, but less cool as a documented and organized design system as we do.</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-03">
      <%= link_to "How dare we?", about_path , class: "button-primary text-center button-advantage" %>
    </div>
  </div>
</div>
