<div class="advantages-block">
  <div class="container">
    <div class="row">
      <h2 class="col-md-3 col-sm-12">Get your own personal Creative</h2>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">1.</p>
        <div class="pt-4">
          <h3>Bulding your service</h3>
          <p>Website, app, flyer for your chess club?It’s our goal to bring your ideas to life. Your business and its revenue matters!</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">2.</p>
        <div class="pt-4">
          <h3>User eXperience as a goal</h3>
          <p>Your user is your future consumer, it is mandatory to bring him the best experience to increase his wellness.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 d-flex">
        <p class="advantages-block-number">3.</p>
        <div class="pt-4">
          <h3>In WOW we trust!</h3>
          <p>Ok.. Sex is cool, but have you ever brought your client to tears  because of the beauty of your brand? That is priceless.</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-03">
      <button class="button-primary" href="#">How dare we?</button>
    </div>
  </div>
</div>
