<a href="<%= root_path %>" style="text-decoration: none" class="button-back">
  <p class="ui-regular-01" style="margin-bottom: 0px"><i class="fa-sharp fa-solid fa-arrow-left"></i><%= t "nav.back-button" %></p>
</a>
