<div class="work-header d-flex">
  <div class="row align-self-stretch">
    <div class="col-md-7 col-sm-12 offset-md-0">
      <%= cl_image_tag @work.photo.key, :class=> "work-header-image", :width => 753, :height => 565, :crop => "fill"  %>
    </div>
    <div class="col-md-5 col-sm-12 work-header-content d-flex align-content-end flex-wrap offset-md-0" >
      <h1 class="heading-02"><%= @work.name %></h1>
      <p class="ui-reguler-01"><%= @work.description %></p>
    </div>
  </div>
</div>
