<div class="about-banner">
  <div class="container">
    <div class="about-header">
      <h1 class="heading-02">About Peach'UX</h1>
      <iframe class="youtube-video" src="https://www.youtube.com/embed/TDU-VLJWn6U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Design is a language, and we want to talk with you.</p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center offer">
      <div class="col-md-4 col-xs-12 service" style="background: linear-gradient(315deg, rgba(14, 0, 77, 1) 39%, rgba(77, 0, 60, 1) 100%)">
        <h2 class="sub-heading-03">Product Design Consulting</h2>
        <ul>
          <li>Studying your users and their needs</li>
          <li>Defining the challenges</li>
          <li>Finding creative ways to solve their problems</li>
          <li>Prototype and mockup the whole solution</li>
          <li>Testing, testing, and... testing</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12 service" style="background-color: #E11E6A">
        <h2 class="sub-heading-03">Our<br>Skills</h2>
        <ul>
          <li>UX/UI design</li>
          <li>Design system</li>
          <li>Copyrighting</li>
          <li>Prototyping</li>
          <li>User research</li>
          <li>HTML/CSS/JS</li>
          <li>CMS (Wordpress)</li>
          <li>Ruby on rails</li>
        </ul>
      </div>
    </div>
    <div class="about-profile">
      <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-xs-12">
          <h2 class="sub-heading-02">Profiles</h2>
        </div>
      </div>
      <div class="row justify-content-center ">
        <div class="col-md-4 col-xs-12">
          <div class="profile">
            <div class="d-flex">
              <img src="https://res.cloudinary.com/peachux/image/upload/v1667919283/website/about_antoine.png" alt="antoine" class="avatar me-3">
              <h3 class="ui-bold-01 align-self-center pt-1">Antoine Pêcheux <br><span class="ui-regular-01">Sassy Designer</span></h3>
            </div>
            <label for="pricePerDay" class="col-form-label">Price per day</label>
            <div class="mb-3">
              <input type="text" readonly class="form-control-plaintext form-read-only" id="pricePerDay" value="500€ / day">
            </div>
            <a href="https://drive.google.com/file/d/1hOPG_MpOJANw1u0JjLeTHPj1ppTEj-kh/view?usp=share_link" target="_blank" class="link-icon-normal"><i class="fa-regular fa-eye me-1"></i>See the resume</a>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
         <div class="profile">
            <div class="d-flex">
              <img src="https://res.cloudinary.com/peachux/image/upload/v1667919283/website/about_maki.png" alt="antoine" class="avatar me-3">
              <h3 class="ui-bold-01 align-self-center pt-1">Maki <br><span class="ui-regular-01">Real CEO</span></h3>
            </div>
            <label for="pricePerDay" class="col-form-label">Price per day</label>
            <div class="mb-3">
              <input type="text" readonly class="form-control-plaintext form-read-only" id="pricePerDay" value="500 kibbles / day">
            </div>
            <a href="https://drive.google.com/file/d/1HS6owhDFlysKzgAJKZTK8btryRd7rD4b/view?usp=share_link" target="_blank" class="link-icon-normal"><i class="fa-regular fa-eye me-1"></i>See the resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
