<div class="banner">
  <div class="row title d-flex">
    <div class="col-md-7 col-sm-12 align-self-center claim">
      <h1 class="heading-01 mb-4 "><span style="color: #FFFFFF; background: #E11E6A; padding: 4px">Coolsulting</span> just killed consulting.</h1>
      <p class="sub-heading-03 mb-4" ><%= t 'pages.home.services' %></p>
      <a href="" class="button-accent" onclick= "Calendly.initPopupWidget({url:'https://calendly.com/ant-pecheux/15min'}) ;return false;"><%= t "pages.home.adopt" %></a>
    </div>
  </div>
</div>
<%= render "shared/advantages-block" %>
<%= render "shared/testimonials" %>
