<div class="banner">
  <div class="row">
    <div class="col-md-9 col-sm-12 title">
      <h1 class="heading-01 mb-4">Make your ideas great as f**K.</h1>
      <p class="sub-heading-03 mb-4" >Share crazy digital expericences with the first coolsulting agency!</p>
      <button class="button-accent-inverse" href="#">Adopt a designer!</button>
    </div>
  </div>
</div>
<%= render "shared/advantages-block" %>
