<div class="container">
  <div class="work-header d-flex">
    <div class="row align-self-stretch">
      <div class="col-md-7 col-sm-12 offset-md-0">
        <img src="https://res.cloudinary.com/peachux/image/upload/v1669124771/website/Kraze_cover.jpg" alt="Kraze cover" class="work-header-image">
      </div>
      <div class="col-md-5 col-sm-12 work-header-content d-flex align-content-end flex-wrap offset-md-0" >
        <h1 class="heading-02">Kraze</h1>
        <p class="ui-regular-01">Kraze is an app that connects techno partygoers and techno event promoters in a order to have techno nights.</p>
      </div>
    </div>
  </div>
</div>
