.banner {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  background-image: url(https://res.cloudinary.com/peachux/image/upload/v1674040581/website/home_background_phone.png);
  height: 44rem;
}
.about-banner {
  overflow-x: hidden;
  background-color: $brand-secondary;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.banner .heading-01 {
  margin: 0;
  color: $heading-inverse;
  text-shadow: 0px 2px 6px rgba(14, 0, 77, 0.2);
}

.banner .sub-heading-03 {
  color: $body-inverse;
  text-shadow: 0px 2px 6px rgba(14, 0, 77, 0.2);
}
.title {
  background: rgb(14, 0, 77);
  background: linear-gradient(90deg, rgba(14, 0, 77, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: inherit;
}
.claim {
  margin-left: 8rem;
}

// Responsive

@media only screen and (max-width: 600px) {
  .about-banner {
      overflow-x: hidden;
    }
  .banner {
      background-size: cover;
      background-position: right;
      overflow-x: hidden;
      background-image: url(https://res.cloudinary.com/peachux/image/upload/v1666455029/website/home_background.png);

    }
  .banner .heading-01 {
      font-size: 2.5rem;
      line-height: 54px;
      margin: 0;
      color: $heading-inverse;
      text-shadow: 0px 2px 6px rgba(14, 0, 77, 0.2);
    }

  .banner .sub-heading-03 {
      font-size: 1.75rem;
      line-height: 32px;
      color: $body-inverse;
      text-shadow: 0px 2px 6px rgba(14, 0, 77, 0.2);
    }

    .title {
      background: rgb(14, 0, 77);
      background: linear-gradient(0deg, rgba(14, 0, 77, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
      padding: 2rem;
      flex: none;
    }
    .claim {
      margin: 0rem;
    }
}
