// PRIMARY BUTTON -----------------------------

// Normal

.button-primary {
  color: $body-inverse;
  font-family: $body-font;
  background-color: $button-primary;
  border-radius: 64px;
  border: none;
  padding: 12px 24px 12px 24px;
  transition-duration: 300ms;

  &:hover {
    background-color: $button-primary-hover;
    transition-duration: 300ms;
  }
  &:active {
    background-color: $button-primary-active;
  }
  &:focus {
    outline-offset: 2px;
    outline: 2px solid $focus;
  }
  &:disabled {
    background-color: $button-primary-disabled;
  }
}

// Inverse

.button-primary-inverse {
  color: $body-inverse;
  font-family: $brand-secondary;
  background-color: $button-inverse;
  border-radius: 64px;
  border: none;
  padding: 12px 24px 12px 24px;
  transition-duration: 300ms;

  &:hover {
    background-color: $button-inverse-hover;
    transition-duration: 300ms;
  }

  &:active {
    background-color: $button-inverse-active;
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid #FFFFFF;
  }

  &:disabled {
    background-color: $button-primary-disabled;
  }
}

// ACCENT BUTTON -----------------------------

// Normal

.button-accent{
  color: $body-inverse;
  font-family: $body-font;
  background-color: $button-accent;
  border-radius: 64px;
  border: none;
  padding: 12px 24px 12px 24px;
  transition-duration: 300ms;
  text-decoration: none;

  &:hover {
    background-color: $button-accent-hover;
    color: #FFFFFF;
    transition-duration: 300ms;
  }

  &:active {
    color: #FFFFFF;
    background-color: $button-accent-active;
  }

  &:focus {
    color: #FFFFFF;
    outline-offset: 2px;
    outline: 2px solid $focus;
  }

  &:disabled {
    background-color: $button-accent-disabled;
  }
}

// Inverse

.button-accent-inverse {
  color: $body-inverse;
  font-family: $body-font;
  background-color: $button-accent;
  border-radius: 64px;
  border: none;
  padding: 12px 24px 12px 24px;
  transition-duration: 300ms;

  &:hover {
    background-color: $button-accent-hover;
    transition-duration: 300ms;
  }

  &:active {
    background-color: $button-accent-active;
  }

  &:focus {
    outline-offset: 2px;
    outline: 2px solid #FFFFFF;
  }

  &:disabled {
    background-color: $button-accent-disabled;
  }
}

// MEDIA QUERIES -----------------------------
@media only screen and (max-width: 600px) {
  .button-primary, .button-primary-inverse, .button-accent, .button-accent-inverse {
    width: 100%;
  }
}
