.form-read-only {
  background-color: $background-secondary;
  border-radius: 8px;
  padding: 16px;
}
.form-full {
  width: 100%;
}
.text-field {
  border-radius: 8px;
  padding: 16px;
  border: solid 1px $border-interactive
}
