.navbar-peachux {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px $border-decorative;
  position: fixed;
  top: 0;
}

.navbar-peachux .navbar-collapse {
  flex-grow: 0;
}

.navbar-peachux .navbar-brand img {
  width: 200px;
}
.nav-item {
  margin: 0 1rem;
}
.nav-link {
  font-family: $body-font;
  color: $body !important;
  &:hover{
    color: $body-muted !important;
  }
}

@media only screen and (max-width: 600px) {

  .navbar-collapse ul {
      height: 100vh;
      overflow-y: hidden;
    }
  .nav-item {
      margin: 2rem 1rem;
    }
  .button-calendly-nav {
    position: absolute;
    bottom: 64px;
    text-align: center;
    width: 90%;
  }
}
