.testimonials {
  background-color: $background-secondary;
  padding: 2rem 0rem 4rem 0rem;
  height: 480px;
}
.testimony {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  color: $body;
  font-family: $body-font;
  border: solid 1px $border-decorative;
}
.testimonials h2 {
  margin: 2rem 0rem;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230E004D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230E004D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media only screen and (max-width: 600px) {
  .testimonials {
      height: auto;
    }
}
