.work-header {
  background: $background-gradient;
}
.work-header-content{
  padding: 2rem;
  color: $body-inverse;
}
.work-header-image{
  width: 753px;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .work-header img {
    height: 327px;
    width: 327px;
    background-size: cover;
  }
  .work-header-content {
    width: inherit;
    padding: 2rem 0rem;
  }
}
